<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background: #000;
}
.wrapper{
    height: 100px;
    width: 360px;
    cursor: default;
    background: linear-gradient(135deg, #148dff, #f3de25, #ef32d9);
    border-radius: 10px;
    animation: animate 1.5s linear infinite;
}
.wrapper .display,
.wrapper span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.wrapper .display{
    z-index: 999;
    background: #1b1b1b;
    height: 85px;
    width: 345px;
    border-radius: 6px;
    text-align: center;
}
.wrapper .display #time{
    line-height: 85px;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #148dff, #f3de25, #ef32d9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 1.5s linear infinite;
}
@keyframes animate {
    100%{
        filter: hue-rotate(360deg);
    }
}
.wrapper span{
    height: 100%;
    width: 100%;
    background: inherit;
    border-radius: 10px;
}
.wrapper span:first-child{
    filter: blur(10px);
}
.wrapper span:last-child{
    filter: blur(20px);
}
=======

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: gray;
    
}
.calculator{
    background-color: lightpink;
    padding: 30px;
    border-radius: 35px;
}

.screen{
    width: 224px;
    background-color: lightgreen;
    font-size: 40px;
    text-align:end;
    padding: 20px;
}

.buttons{
    width: 232px;
    display: flex;
    flex-wrap: wrap;
}

button{
    background-color: lightcoral;
    border: none;
    color: rgb(255,255,255);
    font-size: 40px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 4px;
}

button:hover {
    background-color: pink;
    transition: 0.5s;

}

button:active {
    background-color: rgb(232,232,232);

}

#equals{
    background-color: hotpink;

}

#equals:hover {

    background-color: rgb(240, 8, 132);
}

#clear {
    width: 100%;
    background-color: deeppink;
    font-size: 20px;
   
    height: 45px;
}

#clear:hover {
    background-color: rgba(187, 7, 103, 0.993);
}

.delete{
    font-size: 20px;
    width: 70px;
    border-radius: 70%;
}
>>>>>>> 02be399c57f6a7db77fce2145fab944f8ef035ea
